@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;800&display=swap');

@font-face {
    font-family: NeoTech;
    src: url('../fonts/NeoTech.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    background: #000000;
    color: #ffffff;
}

// Fonts 

.outfit-extrabold {
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
}

.outfit-semibold {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}

.outfit-medium {
    font-weight: 'Outfit', sans-serif;
    font-weight: 500;
}

.logo-font {
    font-family: 'NeoTech', sans-serif;
}

/* Header start */

header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;

    .navigation-row {
        padding: 1.5em 1em 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-img img{
            height: 80px;
        }

        .menu-toggle{
            background: transparent;
            border: none;
            cursor: pointer;

            .hamburger path{
                fill: none;
                stroke: #fff;
                stroke-linecap: round;
            }
        }
    }
}

.fullpage-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 8;

    .fullpage-menu-inner{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 100px 1.5em;

        .menu-bg {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            
            span {
                height: 33.334%;
                width: 100%;
                background: #A50000;
                display: block;
            }
        }
    }

    nav{
        position: relative;
        z-index: 10;
        margin-top: -5em;

        ul {
            list-style-type: none;

            li {
                overflow: hidden;
                transition: transform 300ms ease-in-out 0s;

                a {
                    font-size: 30px;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 400;
                    display: inline-block;
                    line-height: 1;
                }
            }

            nav li:hover{
                transform: translateX(50px);
            }

            li + li {
                margin-top: 20px;
            }
        }
    }

    .header-nav-footer{
        position: absolute;
        z-index: 10;
        bottom: 12em;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 40px 1.5em;

        .social-links {
            list-style-type: none;
            display: flex;
            text-align: left;
            width: 100%;

            li {
                font-size: 14px;
                font-weight: 400;
                margin-right: 1em;
            }

            li + li {
                margin-left: 16px;
            }

            a {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}

.hero-section {
    .display-desktop {
        display: none;
    }

    .container {

        .display-mobile {
            .building {
                margin-top: 14em;

                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 280px;
                }
            }

            .title {
                padding: 3em 1em;
                overflow: hidden;

                .hero-title {
                    font-size: 27px;
                }

                .hero-desc {
                    margin-top: 1em;
                    color: #BDBDBD;
                    line-height: 25px;
                    font-size: 18px;
                }
            }
        }
    }
}

.showcase {
    margin-top: 5em;

    .container {

        .title-header {
            text-align: center;
            margin-bottom: 2em;

            .title {
                font-size: 36px;
            }

            .desc {
                margin-top: .8em;
                font-size: 16px;
                color: #BDBDBD;
            }
        }

        .wrapper{
            width: 100%;
            height:140px;
            position:relative;
            margin:auto;
            overflow:hidden;

            .boxes {
                position:relative;
                left:-140px;
            }

            .box{
                width:140px;
                height:140px;
                position:absolute;
                background:red;
                display: flex;
            }
        }
        
        .wrapper-mobile{
            width: 100%;
            height:140px;
            position:relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            overflow:hidden;

            .boxes-mobile {
                position: relative;
                left: 100%;
            }

            .box-mobile {
                width:140px;
                height:140px;
                position:absolute;
                background:red;
                display: flex;
            }
        }

        .wrapper-larger{
            width: 100%;
            height:140px;
            position:relative;
            margin:auto;
            overflow:hidden;
            display: none;

            .boxes-larger {
                position:relative;
                left:-140px;
            }

            .box-larger{
                width:140px;
                height:140px;
                position:absolute;
                background:red;
                display: flex;
            }
        }
    }
}

.wuu-ecosystem {
    margin-top: 10em;

    .container {
        .title-header {
            text-align: center;
            margin-bottom: 2em;

            .title {
                font-size: 36px;
            }

            .desc {
                margin-top: .8em;
                font-size: 16px;
                color: #BDBDBD;
            }
        }

        .project-1 {
            .left {
                .information {
                    display: flex;
                    justify-content: center;
    
                    .information-number {
                        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                        color: rgb(0, 0, 0);
                        font-size: 75px;
                    }
    
                    .project-date {
                        align-self: flex-end;
                        margin-left: 1em;
    
                        .date {
                            font-size: 14px;
                            
                            span {
                                color: #BDBDBD;
                            }
                        }
    
                        .project-title {
                            font-size: 30px;
                            margin-bottom: 10px;
                        }
                    }
                }

                .project-information {
                    padding: .5em 1em;
                    color: #b3b3b3;
                    line-height: 27px;
                }
            }

            .images {
                display: grid;
                grid-template-columns: repeat(2, 140px);
                justify-content: center;
                grid-gap: 10px;

                img {
                    width: 140px;
                }
            }
        }
    }
}

.founder {
    margin-top: 10em;

    .footer-desktop {
        display: none;
    }

    .container {
        .title-header {
            text-align: center;
            margin: 0em 1.5em 2em;

            .title {
                font-size: 36px;
            }

            .desc {
                margin-top: .8em;
                font-size: 16px;
                color: #BDBDBD;
            }
        }

        .words {
            padding: 1em;

            img {
                width: 100%;
            }

            .right {
                .role {
                    text-transform: uppercase;
                    color: #EFEFEF;
                    margin-top: 3em;
                    letter-spacing: 5px;
                    font-size: 12px;
                }
    
                .name {
                    font-size: 34px;
                    margin-top: 5px;
                }
    
                .information {
                    color: #C3C3C3;
                    line-height: 24px;
                    margin-top: .8em;
                }
            }
        }
    }
}

.footer {
    margin-top: 5em;

    .container {

        .logo-name {
            font-size: 50px;
            text-align: center;
        }

        .socials {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin: 1.5em;
            
            img {
                width: 40px;
            }
        }

        .copy-power {
            display: flex;
            justify-content: space-between;
            font-size: 10px;
            padding: 0 1em;

            p {
                color: #BDBDBD;

                span {
                    color: #FFFFFF;
                }
            }
        }
        
        .footer-img {
            width: 100%;
            margin: .5em 0 -.5em;
        }
    }
}

@media only screen and (min-width: 375px) {

    .hero-section {
        .container{
            .display-mobile{
                .building{
                    img{
                        width: 320px;
                    }
                }

                .title {
                    padding: 3em 2em;
                }
            }
        }
    }

    .wuu-ecosystem {
        .container {
            .project-1 {
                .left {
                    .information {
                        padding: 0 2em;
                        justify-content: left;
                    }
    
                    .project-information {
                        padding: .5em 2em;
                    }
                }

                .images {
                    grid-template-columns: 150px 150px;
                    margin-top: 1em;

                    img {
                        width: 150px;
                    }
                }
            }
        }
    }

    .founder {
        .container {
            .words {
                padding: 1em 2em;
            }
        }
    }

    .footer {
        .container {
            .copy-power {
                padding: 0 3em;
            }
        }
    }
}

@media only screen and (min-width: 425px) {
    .wuu-ecosystem .container .project-1 {
        .images {
            grid-template-columns: repeat(2, 180px);

            img {
                width: 180px;
            }
        }
    }
}

@media only screen and (min-width: 428px) {

    .showcase .container .title-header, .wuu-ecosystem .container .title-header, .founder .container .title-header {
        .title {
            font-size: 44px;
        }
    }

    .fullpage-menu {

        .fullpage-menu-inner {
            padding: 100px 2em;
        }
        
        nav ul li {
            a {
                font-size: 50px;
            }
        }

        .header-nav-footer {
            bottom: 10em;
            padding: 4.5em 2.5em;

            .social-links li {
                font-size: 18px;
            }
        }
    }

    .founder .container .title-header {
        .title {
            margin: 0 1.1em;
        }
    }

    .hero-section {
        .container {
            .display-mobile {
                .building {
                    margin-top: 12em;
                    img {
                        width: 360px;
                    }
                }

                .title {
                    .hero-title {
                        font-size: 36px;
                        margin-top: 1em;
                    }
                    
                    .hero-desc {
                        line-height: 30px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .wuu-ecosystem .container .project-1 {
        .images {
            grid-template-columns: repeat(2, 180px);

            img {
                width: 180px;
            }
        }
    }

    .footer .container {
        .copy-power {
            font-size: 11px;
        }
    }
}

@media only screen and (min-width: 500px) {

    .wuu-ecosystem .container .project-1 {
        .images {
            grid-template-columns: repeat(2, 200px);

            img {
                width: 200px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    header {
        .navigation-row {
            padding: 1.5em 1.6em 0;
        }
    }

    .fullpage-menu {
        .header-nav-footer {
            bottom: 0;
        }

        nav ul li a {
            font-size: 60px;
        }
    }

    .hero-section {
        .display-mobile {
            display: none;
        }
        
        .container {
            .display-desktop {
                display: block;

                .title {
                    margin-top: 14em;
                    padding: 0 2em;
                    display: flex;
                    align-items: center;
                    
                    .hero-title-desk {
                        font-size: 30px;
                        width: 800px;
                    }

                    .hero-desc-desk {
                        color: #BDBDBD;
                        line-height: 20px;
                        font-size: 14px;
                        margin-left: 4em;
                    }
                }

                .banner {
                    margin: 4em 2em;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .showcase {
        margin-top: 10em;
    }

    .wuu-ecosystem {
        .container {
            .project-1 {
                display: flex;
                align-items: center;

                .images {
                    margin-right: 2em;
                    grid-template-columns: repeat(2, 160px);
    
                    img {
                        width: 160px;
                    }
                }
            }
        }
    }

    .founder {
        .container {
            .words {
                display: flex;
                align-items: center;

                img {
                    width: 300px;
                    height: 300px;
                }

                .right {
                    margin-left: 2em;
                    height: 300px;
                    overflow: hidden;

                    .role {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .footer {
        .container {
            .copy-power {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {

    .showcase .container .title-header, .wuu-ecosystem .container .title-header, .founder .container .title-header {
        .title {
            font-size: 60px;
        }
    }

    header {
        .navigation-row {
            padding: 2em 2.5em 0;
        }
    }

    .hero-section {
        .container {
            padding: 0 2.5em;
            margin-top: 15em;

            .display-desktop {
                .title {
                    .hero-title-desk {
                        font-size: 40px;
                        width: 600px;
                    }

                    .hero-desc-desk {
                        width: 400px;
                    }
                }
            }
        }
    }

    .showcase {
        .wrapper-mobile, .wrapper {
            display: none;
        }

        .container {
            .wrapper-larger {
                height: 400px;
                display: unset;

                .boxes-larger {
                    left: -400px;
                }

                .box-larger {
                    width: 400px;
                    height: 400px;
                }
            }
        }
    }

    .wuu-ecosystem{
        margin-top: 40em;

        .container {
            padding: 0 2.5em;

            .project-1 {
                .left {
                    .information {
                        .information-number {
                            font-size: 100px;
                        }

                        .project-date {
                            .date {
                                font-size: 18px;
                            }

                            .project-title {
                                font-size: 40px;
                                margin-bottom: 14px;
                            }
                        }
                    }

                    .project-information {
                        line-height: 30px;
                        font-size: 18px;
                    }
                }

                .images {
                    grid-template-columns: repeat(2, 220px);

                    img {
                        width: 220px;
                    }
                }
                
            }
        }
    }

    .founder {
        margin-top: 15em;
        padding: 1em 2.5em;

        .container {
            .title-header {
                .title {
                    width: 400px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .words {
                img {
                    width: 500px;
                    height: 500px;
                }

                .right {
                    height: 400px;
                }
            }
        }
    }

    .footer {
        margin-top: 10em;

        .footer-mobile {
            display: none;
        }
        .footer-desktop {
            display: unset;
        }

        .container {
            padding: 0 2.5em;
            .footer-desktop {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-content: space-between;
                align-items: center;

                .socials {
                    .links {
                        display: none;
                    }
                }

                .copy, .power {
                    font-size: 14px;
                    color: #BDBDBD;
                    width: 300px;

                        span {
                            color: #FFFFFF;
                        }
                }

                .power {
                    text-align: right;
                }
                
            }
        }
    }


}